header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  @include easeOut;
  
  .btn-line {
    background-color: setContrastingColor($primary-color);
    height: .2rem;
    width: 2rem;
    margin-bottom: .3rem;
    @include easeOut;
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &.close {
    transform: rotate(180deg);
    
    & .btn-line {
      &:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  display: flex;
  &.show {
    visibility: visible;
  }
}
.menu-nav,
.menu-branding {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-branding {
  background: rgba($primary-color, 1);
  position: relative;
  top: 100vh;
  @include easeOut;
  &.show {
    transform: translateY(-100%);
  }
  & .portrait {
    background-image: url(../img/avatar.jpeg);
    background-size: cover;
    border: .3rem solid $secondary-color;
    opacity: 100%;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
  }
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(darken($primary-color, 5), 1);
  list-style: none;
  position: relative;
  bottom: 100vh;
  @include easeOut;
  &.show {
    transform: translateY(100%);
  }
}

.nav-item {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: setContrastingColor($primary-color);
  text-decoration: none;
  padding: 1rem 0;
  transform: translateX(600px);
  @include easeOut;
  &.show {
    transform: translateX(0);
  }
}
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

.nav-link--active {
  color: $secondary-color;
  cursor: default;
  text-decoration: underline;
}

@include mediaSM {
  .btn-line {
    box-shadow: 0 0 10px #000;
  }
  .menu {
    flex-direction: column;
  }
  .menu-branding {
    width: 100%;
    height: 30vh;
    top: 0;
    left: -100vw;
    &.show {
      transform: translateX(100%);
    }
    
    .portrait {
      width: 150px;
      height: 150px;
    }
  }
  .menu-nav {
    width: 100%;
    height: 70vh;
    bottom: 0;
    right: -100vw;
    &.show {
      transform: translateX(-100%);
    }
  }
}
