@import "../base/variables";

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    @include easeOut;
    
    .btn-line {
      background-color: #fff;
      height: .2rem;
      width: 2rem;
      margin-bottom: .3rem;
      @include easeOut;
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    &.close {
      transform: rotate(180deg);
      
      & .btn-line {
        &:first-child {
          transform: rotate(45deg) translate(5px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
}


.nav-link--active {
  color: $secondary-color;
}
