#home {
  overflow: hidden;
  height: calc(100vh - #{$footer-height});
  
  h1 {
    margin-top: 20vh;
  }
  
  .icons {
    display: inline-block;
    padding: 0.4rem;
    
    &:hover {
      cursor: pointer;
      color: $secondary-color;
      @include easeOut;
    }
  }
}
