@import url("~normalize.css");

// Import variables
@import "base/variables";

// Import component styles
@import "components/Header";
@import "components/Home";
@import "components/About";
@import "components/Portfolio";
@import "components/Contact";
@import "components/Footer";

// Global styles
* {
  box-sizing: border-box;
}

body {
  @include bgMixin;
  background-color: $primary-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: setContrastingColor($primary-color);
  margin: 0;
  line-height: 1.5;
}

main {
  padding: 6rem;
  background-color: rgba($primary-color, $bg-opacity);
  min-height: calc(100vh - #{$footer-height});
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

.lg-heading {
  font-size: 6rem;
}

.sm-heading {
  margin-bottom: 2rem;
  padding: .2rem 1rem;
  background-color: rgba(lighten($primary-color, 2), .5);
}

.text-secondary {
  color: $secondary-color;
  text-shadow: 2px 3px 15px rgba(#000, .3);
}

a {
  color: setContrastingColor($primary-color);
  text-decoration: none;
  
  &:hover {
    color: $secondary-color;
    @include easeOut;
  }
}


@include mediaMD {
  main {
    align-items: center;
    text-align: center;
    padding: 5rem 4.5rem 4rem;
  }
  .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
}

@include mediaSM {
  main {
    padding: 5rem 4vw 4rem;
  }
  .lg-heading {
    font-size: 16vw;
  }
}
