// Colors
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-bg-image: true;
$home-bg-image: url('../img/background.jpg'); // This path would be used from the main style file, so it needs to be relative to that file
$bg-opacity: .9;

// Sizes

// Mixins
@mixin easeOut {
  transition: all .25s ease-out;
}
@mixin bgMixin {
  @if $show-home-bg-image {
    background: $home-bg-image;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Styles
