// Colors
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-bg-image: true;
$home-bg-image: url('../img/background.jpg');
$bg-opacity: .9;

// Sizes
$footer-height: 3rem;

// Mixins
@mixin easeIn {
  transition: all .25s ease-in;
}
@mixin bgMixin {
  @if $show-home-bg-image {
    background: $home-bg-image;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// Font Color Function
@function setContrastingColor($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

// Media Queries
@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMD {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLG {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
